{% extends 'base.html' %}

{% block bodyblock %}

<div class="jumbotron">
  <h1 class="display-4" align="center">Credențiale</h1>
  <h4 align="center">Nume de utilizator: {{user.nume_utilizator}}</h4>
  <h4 align="center">Parola: {{user.cnp[-6:]}}</h4>
  <hr class="my-4">
  <p align = "center">Utilizați aceste date pentru a vă putea autentifica în următoarea sesiune.</p>
  <p class="lead" align = "center">
    <a class="btn btn-primary btn-lg" href="{{url_for('pagina_mea')}}" role="button" align = "center">Vizualizare date</a>
  </p>
</div>

{% endblock  %}

{% block footer %}{% endblock footer %}