{% extends 'base.html' %}

{% block bodyblock %}

</br>
<h1 align=center>Despre </h1>
</br>
<div class="jumbotron">
    <p class='h4'>Lucrarea de față își propune să dezvolte un instrument pentru facilitarea autentificării și achiziției
        de
        date
        online, înlocuind necesitatea prezentării fizice a clientului la un ghișeu sau oficiu. În acest scop, vor fi
        utilizate tehnologii precum Recunoașterea facială și OCR(Optical Character Recognition) pentru a valida
        identitatea persoanei în cauză, respectiv extragerea datelor personale în vederea stocării lor într-un loc ușor
        de accesat.</p>
</div>

{% endblock bodyblock %}
{% block footer %}{% endblock footer %}